@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

/* =========================================
              Website Resets
============================================ */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

*::-moz-focus-inner {
  border: 0 !important;
}

*:focus {
  outline: none !important;
}

/*==========================================
          Root, Html, and Body
=============================================*/
:root {
  --clr-darkest-blue: #0B2545;
  --clr-darker-blue: #13315C;
  --clr-blue: #134074;
  --clr-light-blue: #8DA9C4;
  --clr-lighter-blue: #edeef4;




  --font-brand: 'Caveat',
    cursive;
  --font-heading: 'Lora',
    serif;
  --font-body: 'Roboto',
    sans-serif;

  --cubic-timing: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

html {
  height: 100vh;
  min-height: 100vh;
}

body {
  height: 100%;
  font-family: var(--font-body);
  background-color: var(--clr-lighter-blue);
}

/*======================================================
                component/Navbar
=========================================================*/
#navbar.navbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  font-size: 1.2rem;
  background-color: var(--clr-darkest-blue);
  color: var(--clr-lighter-blue);
}

#navbar .navbar-brand {
  justify-self: start;
  font-family: var(--font-heading);
  font-size: 1.2rem;
  margin-left: 5em;
  letter-spacing: 1px;

}

#navbar .navbar-brand:hover {
  cursor: pointer;
}

#navbar div.navbar-burger-container {
  display: none;
}

#navbar ul.navbar-links-list {
  width: 70vw;
  margin-right: 5em;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: 1fr;
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  justify-content: end;

}

#navbar li.navbar-links-item {
  margin-right: 2em;
  color: var(--clr-lighter-blue);

}

#navbar li.navbar-links-item:nth-child(5) {
  margin-right: 0;
}

#navbar a.navbar-links-link {
  position: relative;
  letter-spacing: 1px;
  text-decoration: none;
  color: var(--clr-lighter-blue);
}

#navbar a.navbar-links-link::before {
  content: '';
  position: absolute;
  bottom: -.5em;
  left: 0;
  right: 0;
  /* display: block; */
  height: 3px;
  background: var(--clr-light-blue);
  transform: scale(0, 1);
  transition: transform 0.5s var(--cubic-timing);
}

#navbar a.navbar-links-link:hover::before {
  transform: scale(1, 1);
}

/*======================================================
              pages
=========================================================*/
.pages {
  height: 700px;
  padding-top: 4em;
}

.pages:nth-child(1) {
  padding-top: 5.5em;
}

.pages h1 {
  text-align: center;
}

.pages h1:nth-child(1) {
  margin-top: 2em;
}