@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

/* =========================================
              Website Resets
============================================ */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

*::-moz-focus-inner {
  border: 0 !important;
}

*:focus {
  outline: none !important;
}

/*==========================================
          Root, Html, and Body
=============================================*/
:root {
  --clr-darkest-blue: #0B2545;
  --clr-darker-blue: #13315C;
  --clr-blue: #134074;
  --clr-light-blue: #8DA9C4;
  --clr-lighter-blue: #edeef4;

  --shadow: -2px 2px 8px rgba(0, 0, 0, .8);




  --font-brand: 'Caveat',
    cursive;
  --font-heading: 'Lora',
    serif;
  --font-body: 'Roboto',
    sans-serif;

  --cubic-timing: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --nav-height: 80px;

}

html {
  height: 100vh;
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  position: relative;
  width: 100%;
  min-height: 100%;
  padding: var(--nav-height);
  padding-bottom: 400px;
  font-family: var(--font-body);
  background-color: var(--clr-lighter-blue);
  overflow-x: hidden;
}

/*======================================================
                component/Navbar
=========================================================*/
#navbar.navbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  font-size: 1.2rem;
  background-color: var(--clr-darkest-blue);
  color: var(--clr-lighter-blue);
  box-shadow: var(--shadow);
}

#navbar div.navbar-brand {
  justify-self: start;
  font-family: var(--font-heading);
  font-size: 1.2rem;
  margin-left: 5em;
  letter-spacing: 1px;
  color: var(--clr-light-blue);
  transition: transform 0.5s var(--cubic-timing),
    color 0.5s var(--cubic-timing);

}

#navbar div.navbar-brand:hover {
  cursor: pointer;
  color: var(--clr-lighter-blue);
  transform: scale(1.025);
}
#navbar a.navbar-brand-link { 
  text-decoration: none;
  color: var(--clr-light-blue);
  transition: color 0.5s var(--cubic-timing);
}
#navbar a.navbar-brand-link:hover {
  color: var(--clr-lighter-blue);
}

#navbar div.navbar-burger-container {
  display: none;
}

#navbar ul.navbar-links-list {
  width: 50vw;
  margin-right: 5em !important;
  padding-bottom: 2em;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: 1fr;
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  justify-content: end;
  align-items: center;

}

#navbar li.navbar-links-item {
  margin-right: 2em;
  color: var(--clr-lighter-blue);

}

#navbar li.navbar-links-item:nth-child(5) {
  margin-right: 0;
}

#navbar a.navbar-links-link {
  position: relative;
  letter-spacing: 1px;
  text-decoration: none;
  color: var(--clr-lighter-blue);
}

#navbar a.navbar-links-link::before {
  content: '';
  position: absolute;
  bottom: -.5em;
  left: 0;
  right: 0;
  display: block;
  height: 3px;
  background: var(--clr-light-blue);
  transform: scale(0, 1);
  transition: transform 0.5s var(--cubic-timing);
}

#navbar a.navbar-links-link:hover::before,
#navbar a.navbar-links-link.active::before {
  transform: scale(1, 1);
}


/*tablet landscape and desktop layout (960px or more) */
@media only screen and (min-width: 960px) {
  /*...tablet landscape and desktop styles */
}

/*table portrait layout (768px to 959px) */
@media only screen and (max-width: 1024px) {

  /*... tablet portrait styles */
  #navbar div.navbar-brand {
    margin-left: 1em;
  }

}

#navbar ul.navbar-links-list {
  margin-right: 1em;
}

/*mobile landscape layout (480px to 768px) */
@media only screen and (max-width: 768px) {

  /*...mobile landscape styles */
  #navbar div.navbar-burger-container {
    display: contents;
  }
  #navbar ul.navbar-links-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 75vh;
    position: absolute;
    top: var(--nav-height);
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease-in-out;
  }
}
#navbar ul.navbar-links-list.active {
  left: 0;
  background: var(--clr-darkest-blue);

}

#navbar li.navbar-links-item:nth-child(5) {
  margin-right: 2em;
}
#navbar li.navbar-links-item {
  margin-top: 2em;
}
/*mobile portrait layout (479px or less) */
@media only screen and (max-width: 479px) {
  /*...mobile portrait styles */
}

/*======================================================
              pages
=========================================================*/
.pages {
  height: 700px;
  padding-top: var(--nav-height);
}

/* .pages:nth-child(5) {
  padding-top: 0;
  margin-top: -80px;
} */

.pages h1 {
  text-align: center;
}

div#contactPage.pages {
  padding-top: var(--nav-height);

}

/*tablet landscape and desktop layout (960px or more) */
@media only screen and (min-width: 960px) {
  /*...tablet landscape and desktop styles */
}

/*table portrait layout (768px to 959px) */
@media only screen and (max-width: 1024px) {
  /*... tablet portrait styles */
  div#contactPage.pages {
    padding-top: 2em;
  }
  div#skillsPage,
  div#aboutPage,
  div#portfolioPage,
  div#contactPage {
    height: 900px;
  }
}

/*mobile landscape layout (480px to 767px) */
@media only screen and (max-width: 767px) {
  /*...mobile landscape styles */
}

/*mobile portrait layout (479px or less) */
@media only screen and (max-width: 479px) {
  /*...mobile portrait styles */
}

/*======================================================
              component/Footer
=========================================================*/
#footer {
  margin-bottom: 3em;
  padding-bottom: 3em;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    min-width: 100%;
    height: 400px;
    letter-spacing: 1px;
    background-color: #333030;
    color:#edeef4;
}

/*tablet landscape and desktop layout (960px or more) */
@media only screen and (min-width: 1025px) {
  /*...tablet landscape and desktop styles */

}

/*table portrait layout (768px to 959px) */
@media only screen and (max-width: 1024px) {
  /*... tablet portrait styles */
    #footer {
      margin-bottom: 3em;
      padding-bottom: 3em;
    }
}

/*mobile landscape layout (480px to 767px) */
@media only screen and (max-width: 767px) {
  /*...mobile landscape styles */
}

/*mobile portrait layout (479px or less) */
@media only screen and (max-width: 479px) {
  /*...mobile portrait styles */
}